{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Login" %}
{% endblock %}

{% block content %}

<section class="auth-page">
    <h1>{% trans "Login" %}</h1>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <p>
        {% trans "Log in with your account." %}
    </p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}

        <button type="submit">
            {% trans "Login" %}
        </button>

    </form>

    <p>
        {% trans "Don't have an account?" %}

        <a href="{% url 'signup' %}">
            {% trans "Signup" %}
        </a>
    </p>
</section>

{% endblock %}
