{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Signup" %}
{% endblock %}

{% block content %}

<h1>{% trans "Signup" %}</h1>

<p>
{% blocktrans %}
Your display name will automatically generate a unique account name with four digits.
{% endblocktrans %}
</p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">
        {% trans "Signup" %}
    </button>
</form>

<p>
{% trans "Already registered?" %}

<a href="{% url 'login' %}">
    {% trans "Login" %}
</a>
</p>

{% endblock %}