{% extends 'base.html' %}
{% load static %}


{% block title %}Computer Games list{% endblock %}

{% block content %}
<h1>Computer Games list</h1>
<ul>
    {% for computer_game in computer_games %}
        <li class="card">
            <a href="card">
                <a href="{{ computer_game.id }}">{{ computer_game.title }}</a>
                <p>{{ computer_game.genre }} / Ab {{ computer_game.fsk }}</p>
                <p>Developed by: {{ computer_game.developer }}</p>
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}