{% extends 'base.html' %}

    {% block title %}Warenkorb{% endblock %}

    {% block content %}
    <h2>Warenkorb</h2>

    {% if shopping_cart_is_empty %}
        <p>Dein Warenkorb ist leer.</p>
    {% else %}

        {% for item in shopping_cart_items %}
            <p>
                <strong>{{ item.product_name }}</strong><br>
                Preis: {{ item.price }} €<br>
                Anzahl: {{ item.quantity }}
            </p>
            <form method="post" action="{% url 'change_quantity' item.id 'minus' %}">
                {% csrf_token %}
                <button type="submit">-</button>
            </form>
            <form method="post" action="{% url 'change_quantity' item.id 'plus' %}">
                {% csrf_token %}
                <button type="submit">+</button>
            </form>
            <hr>
        {% endfor %}

        <p><strong>Gesamt:</strong> {{ total }} €</p>

        <form method="POST">
                {% csrf_token %}
                <button type="submit" name="pay">Mit Kreditkarte bezahlen</button>
            </form>
    {% endif %}
        <br>
    <a href="{% url 'home' %}">Zurück zum Shop</a>
    {% endblock %}
