{% extends 'base.html' %}

{% block title %}Warenkorb{% endblock %}

{% block content %}
<h2>Warenkorb</h2>

{% for item in cart.items.all %}
    <p>
        <strong>{{ item.game.name }}</strong><br>
        Preis: {{ item.game.price }} €<br>
        Anzahl: {{ item.quantity }}
    </p>

    <form method="post" action="{% url 'change_quantity' item.id 'minus' %}">
        {% csrf_token %}
        <button type="submit">-</button>
    </form>

    <form method="post" action="{% url 'change_quantity' item.id 'plus' %}">
        {% csrf_token %}
        <button type="submit">+</button>
    </form>

    <hr>
{% empty %}
    <p>Dein Warenkorb ist leer.</p>
{% endfor %}

<a href="{% url 'home' %}">Zurück zum Shop</a>
{% endblock %}