{% load i18n %}

{% if user.is_authenticated and user.user_type == "CS" %}

    <a class="btn" href="{% url 'create_game' %}">
        {% trans "Add Game" %}
    </a>

    <h3>{% trans "All Customers" %}</h3>

    {% for customer in all_the_users %}
        <a href="{% url 'cs_user_detail' customer.id %}">
            {{ customer.display_name }}
        </a>
        <br>
    {% endfor %}


    <h3>{% trans "All Games" %}</h3>

    {% for game in all_the_games %}
        <a href="{% url 'cs_game_detail' game.id %}">
            {{ game.name }}
        </a>
        <br>
    {% endfor %}


    <h3>{% trans "All Reports" %}</h3>

    {% for report in alle_the_reports %}
        <a href="{% url 'game_detail' report.review.game.id %}">
            {{ report.user }} {% trans "reported" %}: {{ report.review.text }}
        </a>
        <br>
    {% endfor %}

{% endif %}