{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}
{% trans "Edit User" %}
{% endblock %}

{% block content %}

<section class="container game-form-page">

    <h2>{% trans "Edit User" %}</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="game-form-buttons">
            <button class="btn-save" type="submit">
                {% trans "Save" %}
            </button>

            <a class="btn" href="{% url 'cs_page' %}">
                {% trans "Back" %}
            </a>
        </div>

    </form>

</section>

{% endblock %}