{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <p>Hallo {{ user.display_name }}!</p>
        <p>Dein Accountname: {{ user.username }}</p>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>Du bist nicht eingeloggt.</p>
        <p><a href="{% url 'login' %}">Login</a></p>
        <p><a href="{% url 'signup' %}">Signup</a></p>
    {% endif %}
{% endblock %}