{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Games Library" %}
{% endblock %}

{% block content %}

<h2>{% trans "Your games:" %}</h2>

<ul>
    {% for game in all_the_games %}
        <li>
            <a href="{% url 'game_detail' game.id %}">
                <b>{{ game.name }}</b>
            </a>
            <br>
            {% with first_image=game.images.first %}
                {% if first_image %}
                    <img src="{{ first_image.image.url }}"
                         alt="{{ game.name }}"
                         width="300">
                {% endif %}
            {% endwith %}
        </li>
    {% endfor %}
</ul>

<a href="{% url 'home' %}">
    {% trans "Back to Shop" %}
</a>

{% endblock %}
