{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Add Game" %}
{% endblock %}


{% block content %}

<section class="container game-form-page">
    <h2>{% trans "New Game" %}</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <label>{% trans "Name" %}:</label>
        {{ form.name }}
        <br>
        <label>{% trans "Description" %}:</label>
        {{ form.description }}
        <br>
        <label>{% trans "Game Type" %}:</label>
        {{ form.game_type }}
        <br>
        <label>{% trans "Genre" %}:</label>
        {{ form.genre }}
        <br>
        <label>{% trans "Age Rating" %}:</label>
        {{ form.fsk }}
        <br>
        <label>{% trans "Price" %}:</label>
        {{ form.price }}
        <br>
        <label>{% trans "Operating System" %}:</label>
        {{ form.operation_system }}
        <br>
        <label>{% trans "Image" %}:</label>
        {{ image_form.image }}
        <br>
        <br>
        <br>
        <div class="game-form-buttons">
            <button class="btn-save" type="submit">
                {% trans "Save Game" %}
            </button>

            <a class="btn" href="{% url 'cs_page' %}">
                {% trans "Back" %}
            </a>
        </div>
    </form>
</section>

{% endblock %}
