{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Payment" %}
{% endblock %}

{% block content %}

<section class="container game-form-page">

    <h2>{% trans "Payment" %}</h2>

    {% if paid %}

        <p>
            {% blocktrans %}
            Thank you for your order. You can find the game in your Library.
            {% endblocktrans %}
        </p>

        <a class="btn" href="{% url 'game_list' %}">
            {% trans "Library" %}
        </a>

    {% else %}

        <form method="post">
            {% csrf_token %}

            {{ payment_form.as_p }}

            <input type="hidden"
                   name="shopping_cart_id"
                   value="{{ shopping_cart.id }}">

            <div class="game-form-buttons">
                <button class="btn-save" type="submit">
                    {% trans "Pay" %}
                </button>

                <a class="btn" href="{% url 'home' %}">
                    {% trans "Back to Shop" %}
                </a>
            </div>

        </form>

    {% endif %}

</section>

{% endblock %}