{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans "Payment" %}
{% endblock %}

{% block content %}

<h2>{% trans "Payment" %}</h2>

{% if paid %}

    {% blocktrans %}
    Thank you for your order. You can find the game in your Library.
    {% endblocktrans %}

    <a href="{% url 'game_list' %}">
        {% trans "Library" %}
    </a>

{% else %}

    <form method="POST">
        {% csrf_token %}
        {{ payment_form.as_p }}

        <input
            type="hidden"
            id="shopping_cart_id"
            name="shopping_cart_id"
            value="{{ shopping_cart.id }}">

        <button type="submit" name="Pay">
            {% trans "Pay" %}
        </button>
    </form>

    <br>

    <a href="{% url 'home' %}">
        {% trans "Back to Shop" %}
    </a>

{% endif %}

{% endblock %}